:root {
	--color-bg: #000;
	--color-bg-light: transparent;
	--color-bg-lighter: transparent;
	/*--color-bg-extralight: #555;*/

	--color-fg-dark: transparent;
	--color-fg: #000;
	--color-fg-light: transparent;

	--color-border: transparent;
	--color-border-action: transparent;

	--color-scrollbar: transparent;
	--color-scrollbar-thumb: transparent;
}


html {
	font-family: sans-serif;
	background: var(--color-bg);
	color: var(--color-fg);
	transition: background .2s ease-in-out, color .2s ease-in-out;
}

body {
	margin: 0;
}

*::-webkit-scrollbar {
   	width: .5vw;
   	background-color: var(--color-scrollbar);
   	box-shadow: inset 0px 0px 3px 0px #000000a1;
}
*::-webkit-scrollbar-track {
}
*::-webkit-scrollbar-thumb {
   	background: var(--color-scrollbar-thumb);
}

input, button, textarea, select {
	font-family: monospace;
	outline: none;
	background: var(--color-bg-light);
	color: var(--color-fg);
	padding: 10px 20px;
	border: none;
  	transition: box-shadow .2s ease-in-out,
  				color .2s ease-in-out,
  				background .2s ease-in-out;
    margin: 3px;
}

input:hover, textarea:hover {
    color: var(--color-fg-light);
	background: var(--color-bg-lighter);
}

select, option {
	font-family: monospace;
}

select:focus > option:checked { 
    background: var(--color-bg-lighter) !important;
}

input:focus, button:hover, select:hover {
    color: var(--color-fg-light);
    box-shadow: 0 0 0 3px var(--color-border-action);
}

#editor {
	height: 100vh;
}

#page {
	margin: 1vh 1vw;
}
#page > p {
	padding: 1vh 1vw;
	line-height: 150%;
}

code {
	display: inline-block;
	background: var(--color-bg-light);
	color: var(--color-fg-dark);
	border-radius: 5px;
	padding: 0px 10px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: calc(100% - 4px);
	font-family: monospace;
}

p > description {
	display: block;
	margin: 0;
	padding: 0;
	margin-left: 1vw;
}

a {
	text-decoration: none;
	color: #3aa8ff;
	transition: .3s ease-in-out;
}

a:hover {
	color: #9ee1ff;
	text-shadow: 0 0 5px #3aa8ff;
}

a:active {
	color: var(--color-fg-light);
	text-shadow: 0 0 5px 3px #9ee1ff;
}

.song-textarea-box {
	position: absolute;
	height: calc(90vh - 4px);
	width: 60vw;
	left: 0;
	top: 0;
    box-shadow: 0px 0px 3px 0px #00000080;
    border-radius: 5px;
    border: 2px var(--color-border) solid;
    padding: 2vh 1vw;
    margin: 4vh 1vw;
}

.song-textarea-box > textarea {
	resize: none;
	width: 56vw;
	height: 40vh;
	padding: 2vh 2vw;
    font-size: 150%;
    margin: 0;

    box-shadow: 0 0 0 3px var(--color-border);

    border-radius: 5px;
}

textarea:focus {
    color: var(--color-fg-light);
    box-shadow: 0 0 0 3px var(--color-border-action);
}

.song-settings-box {
	position: absolute;
	height: 80vh;
	width: 30vw;
	right: 0;
	top: 0;

    box-shadow: 0px 0px 3px 0px #00000080;
    border-radius: 5px;
    border: 2px var(--color-border) solid;
    padding: 1vh 2vw;
    margin: 4vh 1vw;

    overflow-y: auto;
}

.song-file-box {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 7vh;
	width: 30vw;

    box-shadow: 0px 0px 3px 0px #00000080;
    border-radius: 5px;
    border: 2px var(--color-border) solid;
    padding: 1vh 2vw;
    margin: 2vh 1vw;
}

.song-file-box > * {
	margin: 1vh 0;
	padding: 1bh 2vw;
	height: 5vh;
	text-align: center;
	vertical-align: center;
	padding: 0 2vw;
	font-size: 3vh;
}

h2 {
    margin: 4vh 1vw 1vh 1vw;
    padding: 0;
}

line {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: var(--color-fg-light);
    border-radius: 5px;
}

line {
	display: block;
	margin: 1px 0px;
}

line.gray {
    opacity: .25;
}

.settings {
	margin: 10px;
}

.settings > input, select {
	display: inline-flex;
	justify-content: flex-end;
	width: calc(12vw - 26px);
	padding: 1vh 2vw;
	margin: 0;
}

select {
	width: calc(16vw - 26px);
}

.settings > label {
	display: inline-block;
	justify-content: flex-end;
	width: 13.5vw;
}

label, h2, button, div, option {
	user-select: none !important;
}

*:disabled {
	filter: opacity(25%) contrast(50%);
}
*:disabled:hover {
	box-shadow: none;
}
input:disabled:hover  {
	background: var(--color-bg-light);
}


/*
	===================
		T H E M E S		
	===================
*/




.theme-select {
	display: inline-block;
	border-width: 2px;
}

/* Dark */
.theme-select.theme-dark {
	color: #FFF;
	background: #151515;
	border-color: #333;
}
.theme-select.theme-dark:focus {
	box-shadow: 0 0 0 3px #151515;
}

/* Light */
.theme-select.theme-light {
	color: #151515;
	background: #EEE;
	border-color: #333;
}
.theme-select.theme-light:focus {
	box-shadow: 0 0 0 3px #555;
}

/* Blue */
.theme-select.theme-blue {
	color: #AAF;
	background: #0d1117;
	border-color: #161b22;
}
.theme-select.theme-blue:focus {
	box-shadow: 0 0 0 3px #555;
}